body {
  font-size: .875rem;
  background: oldlace
 
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: rgb(34,181,195);
  background: linear-gradient(225deg, rgba(34,181,195,1) 0%, rgba(240,45,253,1) 100%);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
    
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #cbccce;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  color: white;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background: blueviolet;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar.greeting{
  color: aqua;
}



.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:500px;
  height:250px;
  z-index:2;
  text-align:justify;
  color: deeppink;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
.popup.radiorow {
  text-align:center
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active.formarea{
  color: deeppink;
}
.popup.active .content {
  background-image: url("image/moroccan-flower-dark.webp");
 
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}


.btn.btn-default.btn-sm{
  background-color: deeppink!important;
 

 
border-color: #48352f;
}

.popup.btn-default:hover, .popup.btn-default:focus, .popup.btn-default:active, .popup.btn-default.active, .open ,.dropdown-toggle.btn-default {
 
 
 
  background-color:deepskyblue !important;
   
  
   
  border-color: #31347B;
   
  }